h1 { color: red;}
h2.blue { color: blue; }
.gray { color: violet;}
#golden { color: orangered;}
.container :nth-child(3n) { background: yellow;}
hi { color: red; }
h2.blue { color: blue; } gray { color: gray; }
#golden { color: goldenrod; }
container :nth-child(2n + 1) { background: yellow;
ul :nth-child(2n + 1) {
background: pink;
margin: 1em;
color: white;
padding: 1em;
margin-top: 2em;
ul :nth-child(2) (
background:gray;
padding: 1em;
margin: lem lem lem aj
color: white;
)